/Api_Example1/nbproject/private/
/Api_Example1/build/
/Practice/nbproject/private/
/Practice/build/
/Practice/dist/
/Practice_1/nbproject/private/
/Intra_Amr_Seoudy/nbproject/private/
/Intra_Amr_Seoudy/build/
/sample/nbproject/private/
/sample/build/
/Practice_1/build/
/readData/nbproject/private/
/readData/build/
/JavaApplication15/nbproject/private/
/JavaApplication15/build/
/Collection/nbproject/private/
/Collection/build/
/Collection/dist/
/JavaApplication15_1/nbproject/private/