/Api_Example1/nbproject/private/
/ETL/etl/nbproject/private/
/ETL/serie1_chap10_lecture/nbproject/private/
/ETL/serie1_chap10_lecture/build/
/ETL/etl/build/
/ETL/test/nbproject/private/
/ETL/test/build/
/ETL/test2/nbproject/private/
/ETL/test2/build/